<div id="page_wrapper">
<div id="profile_image">
  <div class="profile_image">
    <%=image_tag "profile.jpeg"%>
  </div>
</div>
  <div id="content">
  <h1>Mr. Me</h1>
  <p><%=Faker::Lorem.paragraph%>/p>
  </div>
</div>